.aboutMachines {
    overflow: hidden;
}

.shapesHolderM {
    overflow: hidden;
    width: 56%;
    margin: 230px 0 100px 0;
    float: left;
    shape-outside: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    shape-margin: 20px;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    // background: white;
    transition: all .4s ease-out;
}

.leftImgHolder1 {
    position: relative;
    left: -100%;
    width: 93%;
    float: left;
    background: rgba(150, 8, 8, .75);
    shape-outside: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
    
    clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
    opacity: 1;
    padding-top: 1px;
    padding-right: 2px;
    transition: all .7s ease-out;
    
    img {
        position: relative;
        width: 100%;
        bottom: -1px;
        shape-outside: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
    }
}

.leftImgHolder2 {
    position: relative;
    bottom: -36em;
    margin: 7px 0 15px 0;
    width: 76.1%;
    display: inline-block;
    background: rgba(150, 8, 8, .75);
    shape-outside: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
    opacity: 1;
    padding-bottom: 2px;
    padding-right: 3px;
    transition: all .4s ease-out;
    
    img {
        position: relative;
        width: 100%;
        bottom: -2px;
        shape-outside: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
    }
}

.txtAboutStudioHolder {
    margin-top: 275px;
    padding-right: 5px;
    text-align: left;
    opacity: 0;
    transition: all .7s ease-in;
}

.titleAboutStudio {
    font-size: 44px;
    text-align: center;
}

.txtAboutStudioHolder p {
    margin: 20px auto 40px auto;
    min-width: 300px;
    font-size: 19px;
}

.App {
    text-align: left !important;
}

main {
    min-height: 40px !important;
}
