.img-wrap {
    position: absolute;
}

.black-box {
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
    background: #0007;
    display: inline-flex;
    position: relative;
    z-index: 300;
    align-content: space-between;
    justify-content: space-between;
    cursor: pointer;
}

.client-wide {
    cursor: pointer;
}

.transp-box {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    position: relative;
    z-index: 300;
}

.moveRight {
    display: inline-flex;
    align-self: end;
}