.img-wrap {
    position: absolute;
}

.black-box {
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
    text-transform: uppercase;
    background: #000b;
    display: inline-flex;
    position: relative;
    z-index: 200;
    align-content: space-between;
    justify-content: space-between;
    cursor: pointer;
    font-size: 20px;
    //border: 2px solid black;
}

.client-wide {
    cursor: pointer;
}

.transp-box {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    position: relative;
    z-index: 200;
    cursor: default;
    text-transform: capitalize;
    font-size: 20px;
    text-shadow: -1px -1px .5px #000, 1px -1px .5px #000, -1px 1px .5px #000, 1px 1px .5px #000, ;
}

.moveRight {
    display: inline-flex;
    align-self: end;
}

.modal, .modal img  {
    display: none;
}

.react-photo-gallery--gallery {
    display: relative;
    width: 85%;
    margin: 0 auto;
}