.img-wrap {
    position: absolute;
}

.black-box {
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
    text-transform: capitalize;
    background: #000b;
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: 24px;
    transition: all .4s ease-in;
}

.black-initial {
    height: 30px;
    display: inline-flex;
    align-content: space-between;
    justify-content: space-between;
    opacity: 1; 
    transform: scaleY(1);
    transform-origin: bottom;
}

.client-wide {
    cursor: pointer;
}

.transp-box {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    position: relative;
    z-index: 200;
    cursor: default;
    text-transform: capitalize;
    font-size: 24px;
    text-shadow: -1px -1px .5px #000, 1px -1px .5px #000, -1px 1px .5px #000, 1px 1px .5px #000, ;
}

.moveRight {
    display: inline-flex;
    align-self: end;
}

.modal, .modal img  {
    display: none;
}

.react-photo-gallery--gallery {
    display: relative;
    width: 85%;
    margin: 0 auto;
}

.black-over {
    display: block;
    transition: all .45s ease-in;
    opacity: 0;
    font-size: 17px;
}
