.mini-logo-holder {
	width: 100px;
	max-height: 50px;
	position: absolute;
	color: rgba(255, 8, 8, 1);
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 300;
	left: 50%;
	bottom: 185px;
	opacity: 1;
	transform: translate(-50%);
	transition: all 1.3s ease-in;
	z-index: 999;
}

@-moz-document url-prefix() {
	.mini-logo-holder {
		// left: 50.65%;
		// bottom: 66px;
		opacity: 0;
	}
}

.logoLetters {
	text-align: center;
	margin: 0 auto;
	max-height: 109px;
	opacity: 0;
	transition: all 1.3s ease-in;
}

.aHolder {
	font-size: 110px;
	color: rgba(255, 8, 8, .90);             	
}

.tHolder {
	font-size: 46px;	
	position: relative;
	// left: -31px;
	bottom: 72px;
	color: rgba(255, 8, 8, .90);              
}

.groundingHolder {
	width: 63px;
	margin: 0 auto;
	// position: absolute;
	// left: 50%;
	// top: 640px;
	// transform: translate(-50%);
}

.groundingHolder hr {
	background: rgba(255, 8, 8, .7);
	border: 1px solid rgba(255, 8, 8, .7);
	margin: 5px 0;
	opacity: 1;
}

.groundingHolder div:nth-child(2) {
	width: 65%;
	margin: 0 auto;
}

.groundingHolder div:nth-child(3) {
	width: 35%;
	margin: 0 auto;
}