.logoWrapper {
	margin: 0 0 -200px 0;
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	z-index: 999;
}

.mini-logo-holder-aboutP {
	top: 5px;
}

.mainNav {
	position: relative;
	width: 100%;
	margin: 20px auto 0 auto;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	padding: 27px 0;
	width: 98%;
	right: -4px;
	transition: all .5s ease-in;
	z-index: 555;
}

nav {
	display: flex;
	flex-flow: column;
	color: black;
	position: fixed; /* z-index and position are bot required so that mesh wouldn't go over the content */
  	z-index: 6;
  	top: 10px;
  	width: calc(100vw - 20px);
	margin: 0 auto;
	left: -2px;
  	

  	& * {
  		display: inline-flex;
  		justify-content: space-between;
  	}
	
	.mainNav {
		& * {
			color: rgba(255, 255, 255, .8) !important;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 1px;
	        background: rgba(255, 255, 255, .1);
			margin: 0 5px;
			transition: all .015s;
		}

		*:hover {
			color: rgba(250, 250, 250, .9) !important;
			border: none;
			background: rgba(255, 255, 255, .1);
		}

		.leftNav, .rightNav {
			border: none;
			margin: 0;
			padding: 0;
			background: none;
		}


		a {
			position: relative;
			padding: 4px 7px;
			margin: 0 0;
			font-size: 21px;
			width: 140px;
			text-align: center !important;
		}

		.leftNav a {
			clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
		}

		.leftNav .activeLeft {

			li{
				text-shadow: -1px -1px 0.5px #000, 1px -1px 0.5px #000, -1px 1px 0.5px #000, 1px 1px 0.5px #000;
				z-index: 999;
				color: white !important;
				width: 100%;
				height: 100%;
			}
			
			&::before {
				position: absolute;
				color: red;
				z-index: 999;
			}

			&::after {
				height: 100%;
				content: '';
				width: 100%;
				background: rgba(200, 200, 200, .5);
			}
		}

		.leftNav a::before {
			position: absolute;
			bottom: -13px;
			left: -1px;
			content: '/';
			color:
			rgba(255, 0, 0, 0.6);
			font-size: 58px;
			font-weight: 100;
			transform: rotate(2deg);
			transition: all .5s ease-in;
		}

		.leftNav a::after {
			clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			content: '';
			width: 0;
			color:	rgba(255, 0, 0, 0.6);
			transition: all .35s ease-in;		
		}

		.leftNav a:hover {
			text-shadow: -1px -1px 0.5px #000, 1px -1px 0.5px #000, -1px 1px 0.5px #000, 1px 1px 0.5px #000;
			
			li {
				background: rgba(255, 255, 255, 0);
				z-index: 999;
				color: red;
				
			}

			&::before {
				position: absolute;
				color: red;
				z-index: 999;
			}
	
			&::after {
				height: 100%;
				content: '';
				width: 100%;
				background: rgba(200, 200, 200, .5);
			}
		}

		.rightNav a {
			clip-path: polygon(0 0, 92% 0, 100% 100%, 8% 100%);
		}

		.rightNav .activeRight {

			li{
				text-shadow: -1px -1px 0.5px #000, 1px -1px 0.5px #000, -1px 1px 0.5px #000, 1px 1px 0.5px #000;
				z-index: 999;
				color: white !important;
			}

			&::before {
				height: 100%;
				content: '';
				width: 100%;
				background: rgba(200, 200, 200, .5);
			}
			
			// &::after {
			// 	position: absolute;
			// 	color: red;
			// 	z-index: 999;
			// }
		}

		.rightNav a::before {
			clip-path: polygon(0 0, 92% 0, 100% 100%, 8% 100%);
			position: absolute;
			bottom: 0;
			right: 0;
			height: 100%;
			content: '';
			width: 0;
			color:	rgba(255, 0, 0, 0.6);
			transition: all .35s ease-in;	
		}

		.rightNav a::after {
			position: absolute;
			bottom: -12px;
			right: -1px;
			content: '\\';
			color: rgba(255, 0, 0, .6);
			font-size: 58px; 
			font-weight: 100;
			transform: rotate(-2deg)
		}

		.rightNav a:hover {
			text-shadow: -1px -1px 0.5px #000, 1px -1px 0.5px #000, -1px 1px 0.5px #000, 1px 1px 0.5px #000;

			li {
				background: rgba(255, 255, 255, 0);
				z-index: 999;
				color: red;
			}

			&::before {
				height: 100%;
				content: '';
				width: 100%;
				background: rgba(200, 200, 200, .5);
			}

			&::after {
				position: absolute;
				color: red;
				z-index: 999;
			}
		}

		li {
			background: rgba(255, 255, 255, 0);
			margin: auto;
			border: none;
		}

		.link {
			max-height: 41px !important;
		}
	}
	
	.languages {
		& * {
			background: $main;
			margin: 0 5px;
			padding: 2px 5px;
		}
	}

	ul {
		list-style-type: none;

		li {
			display: inline;
		}

		// &:hover {
		// 	cursor: pointer;
		// }
	}

}