.logoWrapper {
	margin: 0 0 -200px 0;
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	z-index: 900;
}

.mainNav {
	position: relative;
	width: 100%;
	margin: 20px auto 0 auto;
	display: flex;
	align-items: end;
	justify-content: space-around;
	padding: 27px 0;
	width: 98%;
	right: -4px;
	transition: all .5s ease-in;
	z-index: 555;
}

nav {
	display: flex;
	flex-flow: column;
	color: black;
	position: fixed; /* z-index and position are bot required so that mesh wouldn't go over the content */
  	z-index: 6;
  	top: 10px;
  	width: calc(100vw - 20px);
	margin: 0 auto;
	left: -2px;
  	

  	& * {
  		display: inline-flex;
  		justify-content: space-between;
  	}
	
	.mainNav {
		& * {
			color: rgba(255, 255, 255, .8) !important;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 1px;
	        background: rgba(255, 255, 255, .1);
			margin: 0 5px;
			transition: all .015s;
		}

		*:hover {
			color: white !important;
			// letter-spacing: 2px;
			border: none;
	        background: rgba(255, 255, 255, .1);
			// margin: 0 5px;
			// padding: 4px 7px;
		}

		.leftNav, .rightNav {
			border: none;
			margin: 0;
			padding: 0;
			background: none;
		}


		a {
			position: relative;
			padding: 6px 9px;
			margin: 0 10px;
			font-size: 24px;
			width: 140px;
		}

		.leftNav a {
			clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
		}

		.rightNav a {
			clip-path: polygon(0 0, 92% 0, 100% 100%, 8% 100%);
		}

		.leftNav a:hover {
			clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);

			li {
				background: rgba(255, 255, 255, 0);
				// border-left: 1px solid red;
				// border-bottom: 1px solid red;
	
				
			}

			&::before {
				position: absolute;
				bottom: -11px;
				left: -1px;
				content: '/';
				color: rgba(255, 0, 0, .6);
				font-size: 58px; 
				font-weight: 100;
				transform: rotate(-1deg);
			}
	
			&::after {
				position: absolute;
				bottom: -11px;
				right: -3px;
				content: '\\';
				color: rgba(255, 0, 0, .6);
				font-size: 58px; 
				font-weight: 100;
				transform: rotate(0deg);
			}
		}

		.rightNav a:hover {
			clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);

			li {
				background: rgba(255, 255, 255, 0);
				// border-left: 1px solid rgba(255, 0, 0, .6);
				// border-bottom: 1px solid rgba(255, 0, 0, .6);
	
				
			}

			&::before {
				position: absolute;
				bottom: -11px;
				left: -2px;
				content: '/';
				color: rgba(255, 0, 0, .6);
				font-size: 58px; 
				font-weight: 100;
				transform: rotate(0deg)
			}
	
			&::after {
				position: absolute;
				bottom: -11px;
				right: -2px;
				content: '\\';
				color: rgba(255, 0, 0, .6);
				font-size: 58px; 
				font-weight: 100;
				transform: rotate(1deg)
			}
		}

		.leftNav a::before {
			position: absolute;
			bottom: -11px;
			left: -1px;
			content: '/';
			color: rgba(255, 0, 0, .6);
			font-size: 58px; 
			font-weight: 100;
			transform: rotate(-1deg);
			transition: all .15s;
		}

		.leftNav a::after {
			position: absolute;
			bottom: -11px;
			right: -7px;
			content: '/';
			color: rgba(255, 0, 0, .6);
			font-size: 58px; 
			font-weight: 100;
			transform: rotate(-1deg);
			transition: all .15s;			
		}

		.rightNav a::before {
			position: absolute;
			bottom: -11px;
			left: -5px;
			content: '\\';
			color: rgba(255, 0, 0, .6);
			font-size: 58px; 
			font-weight: 100;
			transform: rotate(0deg)
		}

		.rightNav a::after {
			position: absolute;
			bottom: -11px;
			right: -2px;
			content: '\\';
			color: rgba(255, 0, 0, .6);
			font-size: 58px; 
			font-weight: 100;
			transform: rotate(1deg)
		}

		li {
			background: rgba(255, 255, 255, 0);
			margin: auto;
			border: none; 
			// border-top: 1px solid red;
			// border-bottom: 1px solid red;
		}

		.link {
			max-height: 41px !important;
		}
	}

	// .logoLI {
	// 	position: relative;

	// 	.logoAbout {
	// 		height: 100px;
	// 		transition: all 1s ease-out;
	// 	}
		
	// 	.mini-logo-holder-aboutP {
	// 		// width: 100px;
	// 		// max-height: 50px;
	// 		// position: absolute;
	// 		// color: red;
	// 		// font-family: 'Source Sans Pro', sans-serif !important;
	// 		// font-weight: 300;
	// 		// left: 50%;
	// 		top: 0px;
	// 		// opacity: 1;
	// 		// transform: translate(-50%);
	// 		// transition: all 1.3s ease-in;
	// 	}
		
	// 	.logoLettersAboutP {
	// 		// text-align: center;
	// 		// margin: 0 auto;
	// 		// max-height: 79px;
	// 		opacity: 1;
	// 		// transition: all 1.3s ease-in;
	// 	}
	// }
	
	.languages {
		& * {
			background: $main;
			margin: 0 5px;
			padding: 2px 5px;
		}
	}

	ul {
		list-style-type: none;

		li {
			display: inline;
		}

		// &:hover {
		// 	cursor: pointer;
		// }
	}

}