@import 'vars';
@import 'video';
@import 'frontPage_buttons';
@import 'footer';
@import 'content';
@import 'aboutPeople';
@import 'clients';
@import 'aboutMachines';
@import 'equipment';
@import 'navbar';
@import 'modal';

* {
  box-sizing: border-box;
}

html {
  background-color: #282c34;
  color: ivory;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  position: relative;
  margin: 20px;
  min-height: calc(3*(100vh - 40px));
  min-width: calc(100vw - 60px);
}

section, footer {
  min-height: 95vh;
  background: rgba(0,0,0,.65);
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 20px;
  position: relative; /* z-index and position are both required so that mesh wouldn't go over the content */
  z-index: 5;
}

section {
  align-items: center;
  justify-content: center;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
